html body {
    font-family: 'Titillium Web', sans-serif;
}

.nav.navbar-nav.navbar-right ul li a {
    color: white; !important;
}

.margin-t-1 {
    margin-top : 10px ;
}
.margin-b-1 {
    margin-bottom : 10px ;
}
.brand-red-color {
    color: #dc3545;!important;
}
.green-color {
    color: green;
}
.red-color {
    color: red;
}
.golden-color {
    color: #ffc20f;
}

@media only screen and (min-width: 768px) {
    .width-75 {
        max-width: 75%;
    }
}
